.botonFin{
    margin: 100px;
}
.cartita{
    background-color: black;
    margin: 40px;
}
.inicio{
    background-color: rgb(0, 0, 0);
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 30px;
   margin-right: 30px;
    padding:30px ;
    text-align: center;
    border-radius: 20px;
    min-height: 50vh;
    display: grid;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: 
    "m1"
    "m2"
    "m3";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center; 
    gap: 25px;
}
    .inicio__boton{
        margin-right: 20px;
      
    }

    .inicio__titulo{
        /* text-decoration: underline; */
        font-size: 70px;
        margin-top: 100px;
        margin-bottom: 30px;
        color: #FFC107;
        grid-area: m1;
        
    }
    .inicio__subtitulo{
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #e2e8f3;
        /* text-decoration: underline; */
        grid-area: m2;
    
    }
    .inicio__parrafo{
        font-size: 20px;
        color: #e2e8f3;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-area: m3;
        width: 1000px;
    }
 .body__inicio{
    background-color: black;
 }


.botonMostrar.btn.btn-light{
    color: black;
    background-color: #FFC107;

}

.botonAgregar.btn.btn-warning{
    color: black;
    background-color: #FFC107;
}

.carritos{
    margin-left: 950px;
}

.carritoo{
    background-color: white;
}
img{
max-width: 140px;
align-items: center;
justify-items: center;
align-items: center;
justify-content: center;
align-content: center; 
}


.card-img-top{
    margin-left: 80px;
    margin-top: 20px;
}
.card-title{
    margin-left: 80px;
    margin-top: 10px;
    color: #FFC107 ;
}
.card-text{
    margin-left: 100px;
    margin-top: 10px;
}
.botonAdd.btn.btn-outline-warning{
    margin-left: 50px;
    margin-top: 20px;
}
.card{
    margin: 40px;
    background-color: wheat;
    color: wheat;
}
.tituloPersonalizado{
    color: #FFC107;
    margin-top: 50px ;
    margin-bottom: 60px;
    margin-left: 80px;
}
.btn.btn-outline-warning{
    margin-bottom: 40px;
}